<div @attributes="@AdditionalAttributes" class=@ClassNames.Combine(AdditionalAttributes, "w-full")>
    <hr />
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; init; }

}