<div @attributes="@AdditionalAttributes" class=@ClassNames.Combine(AdditionalAttributes)>
    <hr />
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; init; }

}