<div class="animate-pulse flex flex-row font-bold items-center max-h-fit max-w-fit space-x-1.5 text-accent/90">
    <span class="animate-spin flex items-center">
        <Icon Name="@IconName.Cached" Size="@Size" />
    </span>
    <span class="@Size.Scale(-1).ToCssClass()">@Text</span>
</div>

@code {

    [Parameter]
    public TextSize Size { get; init; } = TextSize.Base;

    [Parameter]
    public string Text { get; init; } = "Loading...";

}