<a class="drop-shadow-sm ease-in flex flex-col group justify-between no-underline p-2.5 ring-0 ring-fuchsia-800/20 rounded-md space-y-2.5 transition w-fit hover:bg-mantle hover:ring-1 hover:shadow-sm" href=@(Station is null ? "#" : $"/station/{Station.Id}")>
    <StationArt class="size-40 group-hover:drop-shadow-md" IsInteractive="true" Station="@Station" />
    <Marquee class="ease-in max-w-40 text-gray-400 text-sm transition w-full group-hover:!underline hover:underline" Mode="@(MarqueeMode.Active | MarqueeMode.Hover)" Speed="@MarqueeSpeed.Slow" Text="@(Station?.Name ?? " ")" title="@Station?.Name" />
</a>

@code {

    [EditorRequired]
    [Parameter]
    public Station? Station { get; init; }

}